/* --delay-time set in App.jsx through DELAY_MS */

.card {
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
  transition: all var(--delay-time) ease-out;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: var(--card-border);
  border-radius: 2%;
  padding: 8px;
  aspect-ratio: 2.5 / 3.5;
  width: var(--card-width);
  box-shadow: var(--card-shadow);
  font-family: 'VT323';
}

.card-front {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.card-back {
  background-image: url('../assets/pokemon-card-back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #192653;
  border: 0.9rem solid #192653;
  transform: rotateY(180deg);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.card-front,
.card-back {
  position: absolute;
  backface-visibility: hidden;
}

.card.flip {
  --rotate-y: 180deg;
}

.card img {
  width: 8rem;
  margin-top: 4px;
}

.card-front * {
  margin: 0;
  /* padding: 0; */
}

.card-name {
  font-size: 1.5em;
  padding: 0;
  margin-top: 20px;
}

ul {
  font-size: 1em;
  font-weight: 300;
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  float: left;
  padding: 8px;
}

.card:hover {
  border: var(--card-border);
  /* --translate-y: -2px; */
}
.card:focus:not(:focus-visible) {
  outline: none;
}
.card:focus,
.card.focus-visible:focus:not(:focus-visible) {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (hover: hover) {
  .card:hover {
    border: 10px solid #2a75bb;
  }
}
