#root {
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  margin: 0 auto;
  /* padding: 2rem; */
  width: 1000px;
  text-align: center;
  min-height: 100vh;
}
@media (max-width: 1200px) {
  #root {
    width: 60vw;
  }
}
@media (max-width: 935px) {
  #root {
    width: 80vw;
  }
}
@media (max-width: 700px) {
  #root {
    width: 90vw;
  }

  .card {
    font-size: 0.9em;
  }

  /* h1.title {
    font-size: 2em;
  } */

  h2 {
    font-size: 1.1em;
  }

  .card img {
    width: 7rem;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1.title {
  font-size: var(--title-font-size);
  line-height: 1.1;
  font-family: 'pokemon';
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 2rem;
  color: var(--title-color);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--poke-blue);
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
  border-color: var(--poke-navy);
}
button:focus,
button:focus-visible {
  outline: 4px solid var(--poke-yellow);
}

.score-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--score-bg-color);
  position: sticky;
  z-index: 997;
  top: 0;
  box-shadow: var(--score-shadow);
}

.score-bar * {
  margin: 8px;
}

.card-container {
  display: grid;
  /* overflow: hidden; */
  grid-template-columns: repeat(auto-fit, minmax(var(--card-width), 1fr));
  grid-auto-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  width: 100%;
  height: 30px;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 10px;
}

.github-logo {
  background-image: var(--gh-logo);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
}
.footer-text {
  font-weight: 300;
  font-size: 0.8em;
  margin: 0;
  margin-top: 0.5rem;
}
