#root {
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  margin: 0 auto;
  width: 1000px;
  min-height: 100vh;
}

/* @media (max-width: 1024px) {
  #root {
  }
} */

/* Tablet */
@media (max-width: 768px) {
  #root {
    --title-font-size: 2.8em;
    --card-width: 130px;
    --card-image-width: 5rem;
    --card-title-size: 1.1em;
    --card-text-size: 0.8em;
    --score-text-size: 1em;
  }
}

/* Phone */
@media (max-width: 425px) {
  #root {
    --title-font-size: 2.5em;
    --card-width: 120px;
    --card-image-width: 4rem;
    --card-title-size: 1em;
    --card-text-size: 0.7em;
    --score-text-size: 1em;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.theme-container {
  display: flex;
  margin-left: auto;
  padding: 1rem;
}

h1.title {
  font-size: var(--title-font-size);
  text-align: center;
  letter-spacing: 0.2rem;
  line-height: 1;
  font-family: 'pokemon';
  color: var(--title-color);
  -webkit-text-stroke: 3px var(--poke-blue);
  text-shadow: -3px 3px 1px var(--poke-navy);
  padding-top: 0;
  padding-bottom: 1rem;
  margin-top: 0;
  user-select: none;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--poke-blue);
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
  border-color: var(--poke-navy);
}
button:focus,
button:focus-visible {
  outline: 2px solid white;
}

.buttons {
  background: var(--poke-red);
}

.score-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--score-bg-color);
  position: sticky;
  z-index: 997;
  top: 0;
  box-shadow: var(--score-shadow);
  font-family: 'VT323';
  font-size: var(--score-text-size);
  margin-top: 0;
  user-select: none;
}

.score-bar * {
  margin: 8px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--card-width), 1fr));
  grid-auto-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  user-select: none;
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  width: 100%;
  height: 30px;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
  padding-top: 1rem;
}

.github-logo {
  background-image: var(--gh-logo);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
}
.footer-text {
  font-weight: 300;
  font-size: 0.75em;
  margin: 0;
}
