:root {
  font-family: Roboto, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --poke-yellow: #ffcb05;
  --poke-blue: #3d7dca;
  --poke-navy: #003a70;
  --poke-red: #ff0000;

  --title-color: var(--poke-yellow);
  --text-color: #ffffff;
  --bg-color: #242424;
  --score-bg-color: rgba(49, 49, 49, 0.9);
  --modal-bg-color: rgba(36, 36, 36, 0.95);
  --shadow-color: rgba(0, 0, 0, 0.45);
  --score-shadow: var(--shadow-color) 0px 25px 20px -20px;
  --card-shadow: var(--shadow-color) 0px 20px 30px -10px;

  --title-font-size: 3.2em;
  --card-width: 180px;
  --card-border: 10px solid var(--poke-yellow);

  --gh-logo: url('./assets/github-mark-white.svg');

  color-scheme: light dark;

  color: var(--text-color);
  background-color: var(--bg-color);
}

@font-face {
  font-family: pokemon;
  src: url('/fonts/pokemon.ttf') format('truetype');
}

@media (prefers-color-scheme: light) {
  :root {
    --title-color: var(--poke-blue);
    --text-color: #213547;
    --bg-color: #ffffff;
    --score-bg-color: rgb(233, 238, 240, 0.9);
    --modal-bg-color: rgb(233, 238, 240, 0.9);
    --gh-logo: url('./assets/github-mark.svg');
  }
}

@media (max-width: 700px) {
  :root {
    --card-width: 160px;
  }
}
