:root {
  font-family: 'VT323', Roboto, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --poke-yellow: #ffcb05;
  --poke-blue: #365fac;
  --poke-navy: #003a70;
  --poke-red: #ff0000;

  --title-color: var(--poke-yellow);
  --text-color: #ffffff;
  --bg-color: #212121;
  --score-bg-color: rgba(39, 39, 39, 0.95);
  --modal-bg-color: rgba(36, 36, 36, 0.95);
  --shadow-color: rgba(0, 0, 0, 0.45);
  --score-shadow: var(--shadow-color) 0px 25px 20px -20px;
  --card-shadow: var(--shadow-color) 0px 20px 30px -10px;

  --title-font-size: 3.2em;
  --card-width: 180px;
  --card-image-width: 8rem;
  --card-title-size: 1.5em;
  --card-text-size: 1em;
  --card-border: 10px solid var(--poke-yellow);

  --gh-logo: url('./assets/github-mark-white.svg');

  color-scheme: light dark;

  color: var(--text-color);
  background-color: var(--bg-color);

  --theme-filter: invert(100%) sepia(23%) saturate(2%) hue-rotate(316deg) brightness(106%)
    contrast(101%);
}

[data-theme='light'] {
  /* --title-color: var(--poke-blue); */
  --text-color: #213547;
  --bg-color: #ffffff;
  --score-bg-color: rgb(233, 238, 240, 0.9);
  --modal-bg-color: rgb(233, 238, 240, 0.9);
  --gh-logo: url('./assets/github-mark.svg');
  --theme-filter: invert(15%) sepia(17%) saturate(1529%) hue-rotate(167deg) brightness(99%)
    contrast(88%);
}

[data-theme='pokemon'] {
  --title-color: var(--poke-blue);
  --bg-color: var(--poke-navy);
  --score-bg-color: rgba(23, 80, 133, 0.95);
  --modal-bg-color: rgba(23, 80, 133, 0.95);
  --gh-logo: url('./assets/github-mark.svg');
}

@font-face {
  font-family: pokemon;
  src: url('/fonts/Pokemon Solid.ttf') format('truetype');
}

@font-face {
  font-family: VT323;
  src: url('/fonts/VT323-Regular.ttf') format('truetype');
}

@media (max-width: 700px) {
  :root {
    --card-width: 160px;
  }
}
